<main data-equalizer>
  <section id="left-side" class="large-4 medium-5 small-12 left" data-equalizer-watch>
    <section class="hexagon-container">
      <figure class="hexagon hexagon-image">
        <div class="inner">
          <img class="retrato" src="https://doc-04-c8-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/u4rj1v45iq6fjgb1a3uolkmksm72p83n/1533621600000/07843151508428100949/*/1S_lK52O5cFAxFnEryKk9EwTXlcBgUR7J" alt="">
        </div>
      </figure>
      <figure class="hexagon hexagon-background">
        <div class="inner">
        </div>
      </figure>
      <figure class="hexagon hexagon-background-dark">
        <div class="inner">
        </div>
      </figure>
    </section>
    <h2 class="name">Pedro Daniel <strong>Uribe Martínez</strong></h2>
    <h3 class="job-titles">
     */título/*
     </h3>
    <section class="icon-title">
      <div class="hexagon-icon">
        <i class="fa fa-file-text"></i>
      </div>
      <h3>Profile</h3>
    </section>
    <section class="info-content">
      <p>
        I am an individual passionate for technology, and science who i excels in customer relation and building one on one relationships with clients.

<br>I consider myself to be an analytic person, great at developing solutions using technology, with emphasis on developing personal business relationships to achieve goal, create value and build confidence.

      </p>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-user"></i>
      </div>
      <h3>Contact</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="list-icons">
        <li>
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-map-marker"></i>
          </div>
          <p>  Manuel Sterling #49
<br>Colonia Centro, CDMX

          </p>
        </li>
        <li>
          <div class="hexagon-icon-fill-small">
           <i class="fa fa-mobile" aria-hidden="true"></i>
          </div>
          <p>
            <a href="tel:55544512">(+52) 553594-3359 </a>
          </p>
        </li>
        <li>
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-at" aria-hidden="true"></i>
          </div>
          <p> <a href="mailto:pedrodanielu@gmail.com?subject=Me interesa contactarlo">pedrodanielu@gmail.com</a>
          </p>
        </li>

        <li>
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-skype"></i>
          </div>
          <p> <a href="skype:pedrodanielu.?chat">pedrodanielu.</a>
          </p>
        </li>
      </ul>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-tasks" aria-hidden="true"></i>
      </div>
      <h3>Skills</h3><a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="list-skills">
        <li>Office</li>
        <li>Web Design</li>
        <li>Photoshop</li>
        <li>Lightroom</li>
        <li>Premiere</li>
        <li>Pro-Tools</li>
        <li>OSX</li>
        <li>Windows</li>
        <li>POS</li>
      </ul>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-language" aria-hidden="true"></i>
      </div>
      <h3>Languages</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="list-skills">
        <li>Spanish</li>
        <li>English</li>

      </ul>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-gamepad"></i>
      </div>
      <h3>Hobbies</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="list-skills">
        <li>Fotografía</li>
        <li>Automovilismo</li>
        <li>Tecnología</li>
        <li>Videojuegos PC</li>
        <li>Lectura</li>
      </ul>
    </section>
  </section>
  <section id="right-side" class="large-8 medium-7 small-12 left" data-equalizer-watch>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-briefcase"></i>
      </div>
      <h3>Professional Experience</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="list-experience">
        <li><label>Telvista/Western Union USA <span>/ 2012 - 2013 </span></label>
          <p>
            <strong>Contact Agent:</strong> I provided remote (email, chat and phone) bilingual customer service and technical support to clients and service providers across the USA and Canada regarding worldwide money transfers and other Western Union services.
          </p>
        </li>
        <li><label>Teletech/Dish Network USA <span>/ 2014 - 2015 </span></label>
          <p>
            <strong>Sales and Tech Support Representative:</strong> I developed myself as a remote technical support representative. My main duties were to help clients and the general public with overall general information, troubleshooting, provide value to the company through upselling services and professional customer service. As a part-time duty I helped training new employees and did floor walking helping other representatives to better metrics and customer satisfaction.
          </p>
        </li>
        <li><label>Encoresound Producciones <span>/ 2015-2016 </span></label>
          <p>
            <strong> Editor/ Postproductor:</strong> I collaborated in a post-production studio for digital media specialized in post production and mastering. My main activity was to edit multimedia files for diverse projects, ranging from commercials to feature films and short films. As part of the workflow I did montage, color correction, audio mastering and mixing.
          </p>
        </li>
        <li><label>Vidanta Resorts <span>/ 2016-2018 </span></label>
          <p>
            <strong>International Sales Executive:</strong> I had person to person meetings with customers from all over the world, where I mainly talked about the products Vidanta offered according to their needs, ranging from vacation time, timeshare owning or real estate properties in México. My main goal was to build rapport among the different customers, show value of the company and México and present a solution to the customer to earn their business.
          </p>
        </li>
        <li><label>Telvista/Western Union USA <span>/ 2012 - 2013 </span></label>
          <p>
            <strong>Contact Agent:</strong> I provided remote (email, chat and phone) bilingual customer service and technical support to clients and service providers across the USA and Canada regarding worldwide money transfers and other Western Union services.
          </p>
        </li>
      </ul>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-trophy" aria-hidden="true"></i>
      </div>
      <h3>Achievements</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="list-experience works">
        <li><label>Memorattic   <a target="_blank" href="http://www.memorattic.com/"> http://www.memorattic.com <i class="fa fa-external-link"></i></a></label></li>

        <li><label>Fundación Infantil Ronald McDonald <a target="_blank" href="http://firmguatemala.com/"> http://firmguatemala.com <i class="fa fa-external-link"></i></a></label></li>
       <!-- <li><label>Ronald McDonald House Charities Regional Conference in Latin America <a target="_blank" href="http://www.rmhcla2014.com/">http://www.rmhcla2014.com <i class="fa fa-external-link"></i></a></label></li>
        -->
        <li><label>Seguros G&amp;T <a target="_blank" href="https://www.segurosgyt.com.gt/">https://www.segurosgyt.com.gt <i class="fa fa-external-link"></i></a></label></li>
        <li><label>Corporación BI (Maquetación) <a target="_blank" href="https://www.corporacionbi.com/gt/">https://www.corporacionbi.com/gt <i class="fa fa-external-link"></i></a></label></li>

        <li><label>Suministros y Alimentos (Maquetación) <a target="_blank" href="http://www.foodservice.com.gt/">http://www.foodservice.com.gt <i class="fa fa-external-link"></i></a></label></li>
      </ul>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-graduation-cap"></i>
      </div>
      <h3>Academic Formation</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="list-experience">
        <li>
          <label>High School      <span>/2010-2013 </span></label>
          <p>
            <strong>Escuela Ameyalli, México City |  México</strong>
          </p>
        </li>
          <li>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-list-alt" aria-hidden="true"></i>
      </div>
      <h3>Diplomats, Courses and Experience</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="list-experience">
        <li><label>MOS: Microsoft Office Specialist  <span> / 2008</span></label>
        <p>
             <strong>Microsoft | Certification</strong>
          </p></li>
        <li>
          <label>pBT English <span> / 2008</span></label>
           <p>
            <strong>TOEFL | Certification</strong>
          </p>
        </li>
        <li>
          <label>Product Photography and Technologies for Marketing <span> / 2014</span></label>
          <p>
            <strong>EDUMAC, Cuicuilco | CDMX | Diplomat</strong>
          </p>
        </li>
        <li><label>Post-Production for Filmmaking <span> / 2014</span></label>
          <p>
             <strong>Arte 7 | CDMX | Diplomat</strong>
          </p></li>
        <li>
          <label>CISCO IT ESSENTIALS, <br>Cisco DISCOVERY I and CISCO DISCOVERY II:  <span>/ 2015/<span>
          <span><br/>PC HARDWARE AND SOFTWARE, <br/>NETWORKING FOR HOME AND SMALL BUSINESSES, <br/>
          WORKING AT A SMALL-TO-MEDIUM BUSINESS OR ISP</span>
            </label>

          <p>
            <strong>Cisco SDK | Online Course</strong>
          </p>
        </li>
      </ul>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-male"></i>
      </div>
      <h3>Habilidades Personales</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="list-experience works">
        <li><label>Cooperativo trabajo bien en equipo</label></li>
        <li><label>Excelentes habilidades de comunicación</label></li>
        <li><label>Pensamiento analítico con habilidades de investigación efectivas para la solución de problemas</label></li>
      <!--
        <li><label>Productivo y eficiente</label></li>-->
        <li><label>Altamente adaptable y flexible</label></li>
        <li><label>Capaz de manejar presión y cumplir metas</label></li>
        <!--<li><label>Proactivo y autodidacta</label></li>
        <li><label>Entusiasta y motivado con ganas de enfrentar retos</label></li>
        <li><label>Iniciativo comprometido con la exelencia</label></li>-->
        <li><label>Independiente capaz de trabajar con poca o ninguna supervisión</label></li>
      </ul>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-paperclip"></i>
      </div>
      <h3>Referencias</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="references">
        <li>
          <h3>Salwa Massis / Milk n' Cookies</h3>
          <div class="large-3 medium-3 small-12 left text-center reference-info">
            <div class="hexagon-icon-fill-small">
              <i class="fa fa-phone"></i>
            </div>
            <p><a href="tel:46391937">(+502) 4639-1937</a></p>
          </div>
          <div class="large-6 medium-6 small-12 left text-center reference-info">
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-envelope"></i>
          </div>
            <p><a href="mailto:salwamassis@gmail.com">salwamassis@gmail.com</a></p>
            </div>
            <div class="large-3 medium-3 small-12 left text-center reference-info">
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-share-alt"></i>
          </div>
          <p>Project Manager</p>
            </div>
        </li>
        <li>
          <h3>Roberto Herbruger / Milk n' Cookies</h3>
          <div class="large-3 medium-3 small-12 left text-center reference-info">
            <div class="hexagon-icon-fill-small">
              <i class="fa fa-phone"></i>
            </div>
            <p><a href="tel:42165039">(+502) 4216-5039</a></p>
          </div>
          <div class="large-6 medium-6 small-12 left text-center reference-info">
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-envelope"></i>
          </div>
            <p><a href="mailto:robertoherbruger@gmail.com">robertoherbruger@gmail.com</a></p>
            </div>
            <div class="large-3 medium-3 small-12 left text-center reference-info">
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-share-alt"></i>
          </div>
          <p>Project Manager</p>
            </div>
        </li>
        <li>
          <h3>Luis Del Águila / Milk n' Cookies</h3>
          <div class="large-3 medium-3 small-12 left text-center reference-info">
            <div class="hexagon-icon-fill-small">
              <i class="fa fa-phone"></i>
            </div>
            <p><a href="tel:55382629">(+502) 5538-2629</a></p>
          </div>
          <div class="large-6 medium-6 small-12 left text-center reference-info">
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-envelope"></i>
          </div>
            <p><a href="mailto:delaguilaluis@outlook.com">luisdelaguila@outlook.com</a></p>
            </div>
            <div class="large-3 medium-3 small-12 left text-center reference-info">
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-share-alt"></i>
          </div>
          <p>Senior Developer</p>
            </div>
        </li>
      </ul>
    </section>
    <section class="icon-title toggle-title">
      <div class="hexagon-icon">
        <i class="fa fa-info"></i>
      </div>
      <h3>Más Información</h3>
      <a href="javascript:void(0)" class="do-toggle"><i class="fa fa-chevron-down"></i></a>
    </section>
    <section class="info-content">
      <ul class="references">
        <li>
          <div class="large-3 medium-3 small-12 left text-center reference-info">
            <div class="hexagon-icon-fill-small">
              <i class="fa fa-github-alt"></i>
            </div>
            <p><a href="https://github.com/devjoseluis" target="_blank">GitHub <i class="fa fa-external-link"></i></a></p>
          </div>
          <div class="large-6 medium-6 small-12 left text-center reference-info">
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-stack-overflow"></i>
          </div>
<p><a href="http://stackoverflow.com/users/4052834/jose-luis" target="_blank">StackOverflow <i class="fa fa-external-link"></i></a></p>
            </div>
            <div class="large-3 medium-3 small-12 left text-center reference-info">
          <div class="hexagon-icon-fill-small">
            <i class="fa fa-codepen"></i>
          </div>
              <p><a href="https://codepen.io/devjoseluis" target="_blank">CodePen <i class="fa fa-external-link"></i></a></p>
            </div>
        </li>
      </ul>
    </section>
  </section>

  <script>
    $(document).foundation();
function background() {
  var leftSide = document.getElementById('left-side');
  var pattern = Trianglify({
    height: leftSide.clientHeight,
    width: leftSide.clientWidth,
    cell_size: 250,
    x_colors: ['#3B5168', '#364b60', '#3F5870', '#445E79', '#496481', '#4D6B89', '#527191']
  });

  /*lighten($main-color, 12%, 10%, 7%, 5%)
  ['#435c77','#3f5771','#3a5067','#364b60']*/

  /*https://vis4.net/blog/posts/avoid-equidistant-hsv-colors/
  lighten($main-color, 20%) lighten($main-color, 5%)

  ['#3B5168', '#364b60', '#3F5870', '#445E79', '#496481', '#4D6B89', '#527191']*/
  //console.log(pattern.png());
  leftSide.setAttribute('style', 'background-image: url\(' + pattern.png() + '\)');
}
background();
$('.do-toggle').click(function() {
  $(this).closest('.toggle-title').next().slideToggle();
  if ($(this).find('i').hasClass('fa-chevron-up')) {
    $(this).find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
  } else {
    $(this).find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
    if ($(this).closest('#left-side').length > 0) {
      setTimeout(background, 500);
    }
  }
});

//Chirs Coyer Resizing
var resizeTimer;

$(window).on('resize', function(e) {

  clearTimeout(resizeTimer);
  resizeTimer = setTimeout(background, 250);

});

  </script>
</main>


